{% macro render_form(form) %}
{% for field in form %}
{% if field.id != "csrf" %}<div>{{ field.label }} {{ field }}</div>{% endif %}
{% endfor %}
{{ form.hidden_tag() }}
{% if form.errors %}
<ul class="form-errors">
    {% for field_name in form.errors %}
        {% if form.errors[field_name] %}
            {% for error in form.errors[field_name] %}
                <li>{{ form[field_name].label }} {{ error }}</li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}
